<h1>TopMovies Catalog</h1>
<ng-template #empty><h2>There is no movies yet</h2></ng-template>
<ng-template #full >
    <h2>Most recent movies</h2>
    <ul class="card-wrapper">
        <li routerLink="details/{{movie._id}}" *ngFor="let movie of movieList?.slice(-3); let i=index" class="card">
            <img src={{movie.img}} alt=''>
            <h3>{{movie.movieName}}</h3>
            <p>{{movie.description}}</p>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li routerLink="/catalog/details/{{movie._id}}" *ngFor="let movie of movieList?.slice(0,-3); let i=index" class="card">
            <img src={{movie.img}} alt=''>
            <h3>{{movie.movieName}}</h3>
            <p>{{movie.description}}</p>
        </li>
    </ul>
  </ng-template>
  <ng-container *ngTemplateOutlet="isEmpty ? empty : full"></ng-container>