<h1>TopMovies Catalog</h1>
<h2>Most recent movies</h2>
<div>
    
    <ul class="card-wrapper">
        <li routerLink="details/{{movie._id}}" *ngFor="let movie of movieList?.slice(-3); let i=index" class="card">
            <img src={{movie.img}} alt=''>
            <h3>{{movie.movieName}}</h3>
            <p>{{movie.description}}</p>
        </li>
    </ul>
    <ul class="card-wrapper">
        <li routerLink="/catalog/details/{{movie._id}}" *ngFor="let movie of movieList?.slice(0,-3); let i=index" class="card">
            <img src={{movie.img}} alt=''>
            <h3>{{movie.movieName}}</h3>
            <p>{{movie.description}}</p>
        </li>
    </ul>
  </div>