<ng-template #empty><h2>There is no movies yet</h2></ng-template>
<ng-template #full><h2>Most liked movies of all time!</h2></ng-template>
<ng-template #viewAll><p routerLink="/catalog" class="all-movies">All movies</p></ng-template>
<ng-template #add><p routerLink="/create" class="all-movies">Add movie</p></ng-template>
<ng-template #guest>
    <h1>Welcome to TopMovies</h1>
    <ng-container *ngTemplateOutlet="isEmpty ?empty :full"></ng-container>
    <p class="sign-message">Please <a routerLink="login">sign in</a> in to continue</p>
    <ul class="card-wrapper">
        <li *ngFor="let movie of movieList?.slice(0,2); let i=index" class="card">
            <img src={{movie.img}} alt=''>
            <h3><a routerLink="/catalog/details/{{movie._id}}">{{movie.movieName}}</a></h3>
            <p>{{movie.description}}</p>
        </li>
    </ul>
</ng-template>
<ng-template #user>
    <h1>Welcome to TopMovies, {{username}}</h1>
    <ng-container *ngTemplateOutlet="isEmpty ?empty :full"></ng-container>
    <ul class="card-wrapper">
        <li routerLink="/catalog/details/{{movie._id}}" *ngFor="let movie of movieList; let i=index" class="card">
            <img src={{movie.img}} alt=''>
            <h3>{{movie.movieName}}</h3>
            <p>{{movie.description}}</p>
        </li>
    </ul>
    <ng-container *ngTemplateOutlet="isEmpty ?add :viewAll"></ng-container>
</ng-template>
<ng-container *ngTemplateOutlet="!isLoggedIn ?guest :user"></ng-container>